# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals=true:suggestion
csharp_style_var_elsewhere=false:none
csharp_style_var_for_built_in_types=false:none
csharp_style_var_when_type_is_apparent=false:none
csharp_using_directive_placement=inside_namespace:silent
dotnet_naming_rule.constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.constants_rule.resharper_style=AaBb, EVERYTHING_ + AA_BB
dotnet_naming_rule.constants_rule.severity=none
dotnet_naming_rule.constants_rule.style=upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.event_rule.import_to_resharper=as_predefined
dotnet_naming_rule.event_rule.resharper_style=AaBb, AaBb_AaBb + _Succeeds, AaBb_AaBb + _Throws, AaBb_AaBb + _Fails
dotnet_naming_rule.event_rule.severity=none
dotnet_naming_rule.event_rule.style=upper_camel_case_style
dotnet_naming_rule.event_rule.symbols=event_symbols
dotnet_naming_rule.local_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.local_constants_rule.severity=none
dotnet_naming_rule.local_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_constants_rule.severity=none
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity=none
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_fields_rule.severity=none
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity=none
dotnet_naming_rule.private_static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.types_and_namespaces_rule.import_to_resharper=as_predefined
dotnet_naming_rule.types_and_namespaces_rule.resharper_style=AaBb, AaBb + _TestsBase, AaBb + _UnitTests, AaBb + _AcceptanceTests
dotnet_naming_rule.types_and_namespaces_rule.severity=none
dotnet_naming_rule.types_and_namespaces_rule.style=upper_camel_case_style
dotnet_naming_rule.types_and_namespaces_rule.symbols=types_and_namespaces_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.event_symbols.applicable_accessibilities=*
dotnet_naming_symbols.event_symbols.applicable_kinds=event
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_accessibilities=*
dotnet_naming_symbols.types_and_namespaces_symbols.applicable_kinds=namespace,class,struct,enum,delegate
dotnet_separate_import_directive_groups=true
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:suggestion
dotnet_style_qualification_for_field=true:suggestion
dotnet_style_qualification_for_method=true:suggestion
dotnet_style_qualification_for_property=true:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:warning

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_list=true
resharper_blank_lines_after_control_transfer_statements=1
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_local_method=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_single_line_comment=1
resharper_braces_for_for=required
resharper_braces_for_foreach=required
resharper_braces_for_ifelse=required
resharper_braces_for_while=required
resharper_continuous_indent_multiplier=2
resharper_csharp_blank_lines_around_field=0
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_indent_size=2
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=1
resharper_csharp_naming_rule.method_property_event=AaBb, AaBb_AaBb + _Succeeds, AaBb_AaBb + _Throws, AaBb_AaBb + _Fails
resharper_csharp_stick_comment=false
resharper_csharp_tab_width=2
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_before_first_type_parameter_constraint=true
resharper_csharp_wrap_lines=false
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_csharp_wrap_multiple_type_parameter_constraints_style=chop_always
resharper_csharp_wrap_ternary_expr_style=wrap_if_long
resharper_event_handler_pattern_long=On$event$
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_keep_existing_embedded_arrangement=false
resharper_place_accessor_attribute_on_same_line=false
resharper_place_constructor_initializer_on_same_line=false
resharper_place_field_attribute_on_same_line=false
resharper_place_simple_anonymousmethod_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=false
resharper_qualified_using_at_nested_scope=true
resharper_space_between_attribute_sections=false
resharper_wrap_for_stmt_header_style=wrap_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_object_and_collection_initializer_style=chop_always
resharper_xml_attribute_indent=single_indent
resharper_xml_blank_line_after_pi=false
resharper_xml_indent_child_elements=DoNotTouch
resharper_xml_indent_text=DoNotTouch
resharper_xml_linebreaks_inside_tags_for_elements_with_child_elements=false
resharper_xml_linebreaks_inside_tags_for_multiline_elements=false
resharper_xml_linebreak_before_multiline_elements=false
resharper_xml_pi_attributes_indent=single_indent
resharper_xml_space_before_self_closing=false
resharper_xml_wrap_around_elements=false
resharper_xml_wrap_lines=false
resharper_xml_wrap_tags_and_pi=false

# ReSharper inspection severities
resharper_access_to_modified_closure_highlighting=suggestion
resharper_arrange_static_member_qualifier_highlighting=none
resharper_arrange_this_qualifier_highlighting=hint
resharper_auto_property_can_be_made_get_only_global_highlighting=none
resharper_auto_property_can_be_made_get_only_local_highlighting=none
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_convert_if_statement_to_return_statement_highlighting=suggestion
resharper_convert_if_statement_to_switch_statement_highlighting=suggestion
resharper_convert_to_static_class_highlighting=none
resharper_empty_general_catch_clause_highlighting=suggestion
resharper_enforce_do_while_statement_braces_highlighting=warning
resharper_enforce_fixed_statement_braces_highlighting=warning
resharper_enforce_foreach_statement_braces_highlighting=warning
resharper_enforce_for_statement_braces_highlighting=warning
resharper_enforce_if_statement_braces_highlighting=warning
resharper_enforce_lock_statement_braces_highlighting=warning
resharper_enforce_using_statement_braces_highlighting=warning
resharper_enforce_while_statement_braces_highlighting=warning
resharper_explicit_caller_info_argument_highlighting=none
resharper_field_can_be_made_read_only_global_highlighting=warning
resharper_field_can_be_made_read_only_local_highlighting=warning
resharper_inconsistent_naming_highlighting=none
resharper_invalid_value_type_highlighting=error
resharper_localizable_element_highlighting=none
resharper_member_can_be_internal_highlighting=suggestion
resharper_member_can_be_made_static_global_highlighting=none
resharper_member_can_be_made_static_local_highlighting=none
resharper_not_declared_in_parent_culture_highlighting=error
resharper_n_unit_non_public_method_with_test_attribute_highlighting=error
resharper_possible_unintended_reference_comparison_highlighting=suggestion
resharper_redundant_attribute_parentheses_highlighting=warning
resharper_redundant_bool_compare_highlighting=none
resharper_redundant_declaration_semicolon_highlighting=warning
resharper_redundant_string_interpolation_highlighting=warning
resharper_remove_to_list_1_highlighting=warning
resharper_remove_to_list_2_highlighting=warning
resharper_replace_with_first_or_default_1_highlighting=warning
resharper_replace_with_first_or_default_2_highlighting=warning
resharper_replace_with_first_or_default_3_highlighting=warning
resharper_replace_with_first_or_default_4_highlighting=warning
resharper_replace_with_last_or_default_1_highlighting=warning
resharper_replace_with_last_or_default_2_highlighting=warning
resharper_replace_with_last_or_default_3_highlighting=warning
resharper_replace_with_last_or_default_4_highlighting=warning
resharper_replace_with_of_type_1_highlighting=warning
resharper_replace_with_of_type_2_highlighting=warning
resharper_replace_with_of_type_3_highlighting=warning
resharper_replace_with_of_type_any_1_highlighting=warning
resharper_replace_with_of_type_any_2_highlighting=warning
resharper_replace_with_of_type_count_1_highlighting=warning
resharper_replace_with_of_type_count_2_highlighting=warning
resharper_replace_with_of_type_first_1_highlighting=warning
resharper_replace_with_of_type_first_2_highlighting=warning
resharper_replace_with_of_type_first_or_default_1_highlighting=warning
resharper_replace_with_of_type_first_or_default_2_highlighting=warning
resharper_replace_with_of_type_last_1_highlighting=warning
resharper_replace_with_of_type_last_2_highlighting=warning
resharper_replace_with_of_type_last_or_default_1_highlighting=warning
resharper_replace_with_of_type_last_or_default_2_highlighting=warning
resharper_replace_with_of_type_long_count_highlighting=warning
resharper_replace_with_of_type_single_1_highlighting=warning
resharper_replace_with_of_type_single_2_highlighting=warning
resharper_replace_with_of_type_single_or_default_1_highlighting=warning
resharper_replace_with_of_type_single_or_default_2_highlighting=warning
resharper_replace_with_of_type_where_highlighting=warning
resharper_replace_with_single_call_to_any_highlighting=warning
resharper_replace_with_single_call_to_count_highlighting=warning
resharper_replace_with_single_call_to_first_highlighting=warning
resharper_replace_with_single_call_to_first_or_default_highlighting=warning
resharper_replace_with_single_call_to_last_highlighting=warning
resharper_replace_with_single_call_to_last_or_default_highlighting=warning
resharper_replace_with_single_call_to_single_highlighting=warning
resharper_replace_with_single_call_to_single_or_default_highlighting=warning
resharper_replace_with_single_or_default_1_highlighting=warning
resharper_replace_with_single_or_default_2_highlighting=warning
resharper_replace_with_single_or_default_3_highlighting=warning
resharper_replace_with_single_or_default_4_highlighting=warning
resharper_resource_item_not_resolved_highlighting=warning
resharper_resource_not_resolved_highlighting=warning
resharper_specify_string_comparison_highlighting=suggestion
resharper_string_literal_as_interpolation_argument_highlighting=warning
resharper_tabs_are_disallowed_highlighting=warning
resharper_try_statements_can_be_merged_highlighting=suggestion
resharper_unnecessary_whitespace_highlighting=warning
resharper_use_object_or_collection_initializer_highlighting=none
resharper_xaml_binding_with_context_not_resolved_highlighting=error
resharper_xaml_redundant_grid_definitions_highlighting=suggestion

[*.{appxmanifest,axml,build,c,c++,cc,cginc,compute,config,cp,cpp,csproj,cu,cuh,cxx,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,jsproj,lsproj,mpp,mq4,mq5,mqh,njsproj,nuspec,proj,props,resw,resx,StyleCop,targets,tasks,tpp,usf,ush,vbproj,xml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,axaml,cshtml,css,htm,html,master,paml,razor,skin,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.cs]
indent_style=space
indent_size=2
tab_width=2

[*.csproj]
indent_style=space
indent_size=2
tab_width=2
